a {
  text-decoration: none;
  color: black;
}
a:hover {
  text-decoration: none;
  color: black;
}

.brand {
  color: #FCA205;
  font-weight: bold;
  font-size: 20px;
  margin-left: 20px;
}
.NavContainer {
  position: fixed;
  top: 0;
  weight: 100%;
  left: 0;
  right: 0;

}

.brand:hover {
  color: #FCA205;
}

.navbar {
  padding-top: 0;
  padding-bottom: 0;
}

#navbarSupportedContent {
  padding-left: 20px;
}
.container-fluid {
  padding-top: 5px;
}
.main {
  padding-top: 70px;
  padding-left: 10vw;
  padding-right: 10vw;
  font-size: 18px;
}
.published-date {
  right: 0;
  text-align: right;
  color: gray;
  font-size: 15px;
}
.headdings {
  padding-left: 5px;
  font-size: 25px;
  font-weight: bold;
}

.headding-block {
  width: 100%;
  display: inline-flex;
}
.edit {
  position: absolute;
  right: 10vw;
  display: inline-flex;
  margin-right: 0px;

}
.main-detail {
  padding-top: 100px;
  padding-left: 10vw;
  padding-right: 10vw;
  font-size: 18px;
}
.btn-signup {
  background-color: #FCA205;
  border-color: #FCA205;
  border-radius: 30px;
  color: white;
  margin-left: 5px;
  margin-top: 6px;
}
.btn-signup:hover {
  background-color: #ffcb70;
  border-color: #ffcb70;
  color: white;
}


.btn-signup:active {
  background-color: #FCA205;
  border-color: #FCA205;
  color: white;
}

.btn-rounded {
  background-color: white;
  border-color: #FCA205;
  border-radius: 30px;
  color: #FCA205;
  margin-left: 5px;
  margin-top: 6px;


}
.btn-rounded:hover,
.btn-rounded:active {
  background-color: #FCA205;
  border-color: #FCA205;
  color: white;
}

.search-area {
  border-radius: 30px;
  padding-left: 20px;
  margin-top: 5px;
}
.new {
  margin-top: 10%;
}
.new-post {
  padding-left: 5px;
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: center;
}
.new-post-form {
  margin-left: 10vw;
  margin-right: 10vw;
}
.signup-form {
  border: 1px solid #ced4da;
  border-radius: 10px;
  padding: 15px;
  margin: auto;
  width: 400px;
  margin-top: 18%;
}
.form-control {
  border-radius: 20px;
}

.regbtn {
  position: relative;
  left: 47%;
  transform: translate(-50%, 0);
}
.error {
  margin-top: 15px;
  font-size: 15px;
  padding: 5px;
  color: #f03434;
  border: 1px solid #f03434;
  border-radius: 20px;
  text-align: center;
}
.success {
  text-align: center;
  margin-top: 15px;
  font-size: 15px;
  padding: 5px;
  background-color: white;
  color: green;
  border: 1px solid green;
  border-radius: 20px;
}
.icon {
  font-size: 35px;
  margin-top: 7px;
  color: #BCBEC0;
}
.nav-auth {
  margin-left: .5rem;
  margin-right: .5rem;
}
.sign-modal {
  margin-top: 200px;
  max-width: 350px;
}
.password-error {
  color: #f03434;
}
li {
    list-style-type: none; /* Убираем маркеры */
    margin-bottom: 10px;
   }
ul {
    margin-left: 0px; /* Отступ слева в браузере IE и Opera */
    padding-left: 0; /* Отступ слева в браузере Firefox, Safari, Chrome */
   }
.form-headding {
  margin-right: 20px;
  margin-bottom: 20px;
  text-align: center;
}
.sign-up-form {
  padding-bottom: 10px;
}
