a {
  text-decoration: none;
  color: black;
}
a:hover {
  text-decoration: none;
  color: black;
}

.brand {
  color: #FCA205;
  font-weight: bold;
  font-size: 20px;
  padding-left: 20px;
}
.NavContainer {
  position: fixed;
  top: 0;
  weight: 100%;
  left: 0;
  right: 0;

}

.brand:hover {
  color: #FCA205;
}

#navbarSupportedContent {
  padding-left: 20px;
}
.container-fluid {
  padding-top: 5px;
}
.main {
  padding-top: 70px;
  padding-left: 10vw;
  padding-right: 10vw;
  font-size: 18px;
}
.published-date {
  right: 0;
  text-align: right;
  color: gray;
  font-size: 15px;
}
.headdings {
  padding-left: 5px;
  font-size: 25px;
  font-weight: bold;
}

.headding-block {
  width: 100%;
  display: inline-flex;
}
.edit {
  padding-left: 80%;

}
.main-detail {
  padding-top: 10%;
  padding-left: 10vw;
  padding-right: 10vw;
  font-size: 18px;
}
